@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Pacifico&family=Playfair+Display&family=Poppins:ital,wght@0,400;0,700;1,700&display=swap");

:root {
  --bg: rgb(0, 0, 0);
  --primary: #f8b2e3;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: var(--primary);
  height: 3000px;
}

svg {
  transform: translateY(5px);
}

.svg {
  transform: translateY(-5px);
}

.navbar {
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.navbar .logo {
  display: flex;
  color: #fff;
  width: 50%;
  gap: 2rem;
  align-items: center;
  font-style: italic;
}

.navbar .logo img {
  width: 10%;
}

.navbar .logo a {
  font-size: 1.7rem;
  color: #fff;
}

.navbar .logo a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--bg);
  transition: 200ms;
  transform: scaleX(0);
  transform-origin: 0 0;
}

.navbar .logo a:hover::after {
  transform: scaleX(0.3);
}

.navbar .logo span {
  color: var(--primary);
}

.navbar .navbar-menu a {
  display: inline-block;
  color: white;
  font-size: 1.1rem;
  margin: 1rem;
}

.navbar .navbar-menu a:hover {
  color: var(--bg);
}

.navbar .navbar-menu a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 200ms;
}

.navbar .navbar-menu a:hover::after {
  transform: scaleX(0.5);
}

.navbar .toggler-navbar {
  display: none;
}

/* hero */

.hero {
  padding: 8rem 7% 0;
}

.hero .row {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hero .row .content {
  padding: 0 2rem;
  width: 40vw;
}

.hero .row .content h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .row .content p {
  font-size: 1.5rem;
  margin-top: 1rem;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .row .img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70rem;
}

.hero .row .img img {
  width: 40vw;
}

.cta {
  margin: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 1.3rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* about */

/* list */

.list {
  padding: 8rem 5% 1.4rem;
  background-color: var(--bg);
}

.list h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.list p {
  font-size: 2rem;
  text-align: center;
}

.list .list-menu {
  display: flex;
  flex-direction: column;
}

.list .list-menu .row {
  display: flex;
  justify-content: center;
}

.list .list-menu .row .table {
  margin: 3rem;
}

.list .list-menu .row .table caption {
  font-size: 2rem;
}

th,
td {
  font-size: 1rem;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
}

/* contact */
.contact {
  padding: 8rem 5% 1.4rem;
  text-align: center;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.contact p {
  font-size: 2rem;
}

.contact .contact-me .wa {
  margin: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 1.3rem;
  background-color: #25d366;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.contact .contact-me .ig {
  margin: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 1.3rem;
  background: linear-gradient(to right, #833ab4, #fd1d1d);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}
.contact .contact-me .fb {
  margin: 2rem;
  display: inline-block;
  padding: 1rem 3rem;
  color: #fff;
  font-size: 1.3rem;
  background-color: #3b5998;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

footer {
  background-color: #000000;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #ffffff;
  margin: 2rem;
}

footer .linked {
  margin: 1.5rem 0;
}

footer .linked a {
  color: #ffffff;
  margin: 1rem;
}

footer .credit {
  padding-bottom: 3rem;
}

footer .credit a {
  font-weight: 500;
  color: white;
}

@media screen and (max-width: 1633px) {
  #home {
    font-size: 70%;
  }

  .hero .row .img img {
    width: 30vw;
  }
}

/* tablet */
@media screen and (max-width: 768px) {
  #home {
    font-size: 60%;
  }

  .navbar .toggler-navbar {
    display: block;
  }

  .navbar .hamburger {
    width: 30px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .navbar .hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  .navbar .hamburger span:nth-child(1) {
    top: 3px;
  }
  .navbar .hamburger span:nth-child(2) {
    top: 12px;
  }
  .navbar .hamburger span:nth-child(3) {
    top: 21px;
  }

  .hamburger.open span:nth-child(1) {
    top: 15px;
    transform: rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    right: 60px;
  }

  .hamburger.open span:nth-child(3) {
    top: 14px;
    transform: rotate(-135deg);
  }

  .navbar .navbar-menu {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 25rem;
    height: 100vh;
    transition: 0.2s;
    color: #010101;
  }

  .navbar .navbar-menu.open {
    right: 0;
  }

  .navbar .navbar-menu a {
    color: #010101;
    display: block;
    font-size: 2rem;
    margin: 1.5rem;
    padding: 0.5rem;
  }

  .navbar .navbar-menu a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-menu a:hover::after {
    transform: scaleX(0.2);
  }

  /* hero */
  .hero .row {
    flex-direction: column-reverse;
    justify-content: start;
  }

  .hero .row .content h1 {
    font-size: 2rem;
  }

  .hero .row .img img {
    width: 30vw;
  }

th,
td {
  font-size: 1rem;
  border: 2px solid rgb(255, 255, 255);
  padding: 10px;
}

}



/* mobile */
@media screen and (max-width: 576px) {
  #home {
    font-size: 50%;
  }
}
